/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* h1 {
		font-size: theme('fontSize.2xl');
	}

	h2 {
		font-size: theme('fontSize.xl');
	} */

	body {
		background-color: var(--novel-white);
	}
}
